* {
    main-bg:            #1B1D1CB3;
    main-fg:            #CCFFE6E6;
    main-br:            #6B5640E6;
    main-ex:            #3A3731E6;
    select-bg:          #F0DBAA80;
    select-fg:          #524629E6;
}
